<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link href="stylesheets/gnav.css" rel="stylesheet" type="text/css">
    <title>Agua</title>
</head>

<body>
    <header>
        Cálculo de consumo
        <nav>
            <ul class="nav__links">
                <a class="cta" href="#"><button>Água</button></a>
                <a class="cta" href="#"><button>Luz</button></a>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>Tabela de tarifas de água</h1>
            </div>
            <div class="col align-middle">
                <a href="/aguaedit" type="button" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 1 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg> Editar</a>
            </div>
        </div>
        <table class="table table-dark table-hover">
            <tr>
                <th>Faixa de consumo</th>
                <th>Tarifa</th>
            </tr>
            <% for(result of tabagua) {%>
                <tr>
                    <td>
                        <%= result.faixa %>
                    </td>
                    <td>
                        <%= result.preco %>
                    </td>
                    <% } %>
                </tr>
        </table>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script> -->
</body>

</html>