<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora de consumo</title>
  <link rel="stylesheet" href="stylesheets/gnav.css">
  <link rel="stylesheet" href="stylesheets/gnavhead.css">
</head>

<body>
  <nav class="wrapper">
    <div class="esq">
      <div class="btesq">
        <a href="#">Home</a>
      </div>
      <div class="btdir">
        <a href="/agua"><button>Água</button></a>
      </div>
    </div>
    <div class="dir">
      <div class="eldir">
        <a class="luz" href="/luz"><button>Luz</button></a>
      </div>
    </div>
    </div>
  </nav>
</body>

</html>