@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
  background: rgb(170, 167, 167);
  border: 0;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
}

nav{
  display: flex;
  background: rgb(172, 172, 172);
  height: 80px;
}
.esq {
    display:flex;
    background-size:cover ;
    height:80px;
  }
.dir {
    background-size:cover ;
    display:flex;
    
    height:80px;
  }
.elesq{
  width: 100%;
  height:80px;
}

.btesq{
  width: 50%;
  text-align: left;
  margin: auto 15px;
}
.btdir{
  width: 50%;
  text-align: right;
  margin: auto 5px;
}
.eldir{
  width: 50%;
  text-align: left;
  margin: auto 5px;
}
nav a{
  text-decoration: none;
  color:#EDF0F1;;
}

a, button{
  font-weight: 500;
  font-size: 20px;
  color: #EDF0F1;
  text-decoration: none;

}

.btdir button {
  background-image: linear-gradient(to right, rgba(5, 40, 51, 0.9) , rgb(7, 17, 22));
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 90px;
}
.btdir button:hover {
  background-image: linear-gradient(to right, rgb(23, 14, 150) , rgb(20, 15, 145));
} 

.eldir button {
  background-image: linear-gradient(to right, rgb(231, 23, 8) , rgb(233, 13, 5));
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 90px;
}
.eldir button:hover {
  background-image: linear-gradient(to right, rgb(218, 191, 38) , rgb(218, 176, 40));
}